@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using BlazingServerTrains.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>
<iframe src="https://localhost:7043/" width="500" height="500"/>
<iframe src="https://localhost:7043/" width="500" height="500"/>

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
